/* document default style */
.body{
    margin: 0;
    padding: 0;
}
/* title header background color */
.header-title{
    color: #0D6EFD;
}
/* image size */
.banner-image{
    height: 784px;
    width: 750px;
}
/* input field background color */
.input-field{
    background-color: rgba(206, 199, 204, 0.54);
}
.sub-title{
    color: #0D6EFD;
    font-weight: 700;
}
#savings{width: 75px;}
